@using App.Domain.Common
@using Resources
@model App.FakeEntity.SeoGlobal.SettingSeoGlobalViewModel
@{
    ViewBag.Title = UI.CreateNew;
    ViewBag.Toolbar = new[] { "Save", "SaveNew", "Divider", "Back" };
}

@using (Html.BeginForm("Edit", "SeoSetting", FormMethod.Post, new { data_container = @ViewContext.RouteData.Values["controller"], @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x=>x.Id)
    <div class="form-horizontal">
        <div class="form-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger col-md-offset-3" })
            <div class="form-group">
                @Html.LabelFor(model => model.FbAppId, new { @class = "control-label col-md-3" })
                <div class="col-md-5">
                    @Html.TextBoxFor(model => model.FbAppId, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FbAppId, "", new { @class = "help-block" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.FbAdminsId, new { @class = "control-label col-md-3" })
                <div class="col-md-5">
                    @Html.TextBoxFor(model => model.FbAdminsId, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FbAdminsId, "", new { @class = "help-block" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MetaTagMasterTool, new { @class = "control-label col-md-3" })
                <div class="col-md-5">
                    @Html.TextBoxFor(model => model.MetaTagMasterTool, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MetaTagMasterTool, "", new { @class = "help-block" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PublisherGooglePlus, new { @class = "control-label col-md-3" })
                <div class="col-md-5">
                    @Html.TextBoxFor(model => model.PublisherGooglePlus, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PublisherGooglePlus, "", new { @class = "help-block" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SnippetGoogleAnalytics, new { @class = "control-label col-md-3" })
                <div class="col-md-5">
                    @Html.TextAreaFor(model => model.SnippetGoogleAnalytics, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SnippetGoogleAnalytics, "", new { @class = "help-block" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.GoogleRetargetSnippet, new { @class = "control-label col-md-3" })
                <div class="col-md-5">
                    @Html.TextAreaFor(model => model.GoogleRetargetSnippet, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.GoogleRetargetSnippet, "", new { @class = "help-block" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.FacebookRetargetSnippet, new { @class = "control-label col-md-3" })
                <div class="col-md-5">
                    @Html.TextAreaFor(model => model.FacebookRetargetSnippet, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FacebookRetargetSnippet, "", new { @class = "help-block" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-3" })
                <div class="col-md-5">
                    <div class="radio-list">
                        <label class="radio-inline">
                            @Html.RadioButtonFor(x => x.Status, (int)Status.Enable) @UI.Active
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(x => x.Status, (int)Status.Disable) @UI.InActive
                        </label>
                    </div>
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
}
 