@using App.Admin.Helpers
@using App.Domain.Common
@using Resources
@model IEnumerable<App.Domain.Entities.Data.Order>
@{
    ViewBag.Title = FormUI.Order;
    ViewBag.Toolbar = new[] {"Create", "Edit", "Delete", "Divider", "Reset"};
}
<table id="@ViewContext.RouteData.Values["controller"]" class="app-grid table table-color table-bordered table-striped table-condensed flip-content">
    <thead class="flip-content">
    <tr>
        <th class="text-center"> Mã hoá đơn </th>
        <th class="text-center"> Mã khách </th>
        <th class="text-center"> Họ tên </th>
        <th class="text-center"> Ngày lập hoá đơn </th> 
        <th class="text-center"> @FormUI.Status </th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="highlight0" href="@Url.Action("Edit", new {id = item.Id, ReturnUrl = Request.Url.PathAndQuery})">@item.OrderCode</a>
                </td>
                <td>
                   @item.CustomerCode
                </td>
                <td>@item.CustomerName</td>
                <td>@string.Format("{0:dd/MM/yyyy}",item.CreatedDate)</td>
                <td>
                    @Html.Raw(Common.GetOrderStatus(item.Status))
                </td>
            </tr>
        }
    }
    else
    {
        <tr class="odd">
            <td class="dataTables_empty text-center" colspan="5" valign="top">
                @MessageUI.EmptyData
            </td>
        </tr>
    }
    </tbody>
</table>
@{ Html.RenderPartial("_PageLinks"); }