@using App.Domain.Common
@using App.Framework.Ultis
@using Resources
@model App.FakeEntity.GenericControl.GenericControlValueViewModel
@{
    ViewBag.Title = UI.CreateNew;
    ViewBag.Toolbar = new[] { "Save", "SaveNew", "Divider", "Back" };
}
@using (Html.BeginForm("Create", "GenericControlValue", FormMethod.Post, new { data_container = ViewContext.RouteData.Values["controller"], enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger col-md-offset-3" })
            <div class="form-group">
                @Html.LabelFor(model => model.ValueName, new { @class = "control-label col-md-3" })
                <div class="col-md-5">
                    @Html.TextBoxFor(model => model.ValueName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ValueName, "", new { @class = "help-block" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.GenericControlId, new {@class = "control-label col-md-3"})
                <div class="col-md-5">
                    @Html.DropDownListFor(x => x.GenericControlId, new SelectList(ViewBag.GenericControls ?? string.Empty, "Id", "GenericControlName"), "--Select--", new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.OrderDisplay, "", new {@class = "help-block"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ColorHex, new { @class = "control-label col-md-3" })
                <div class="col-md-5">
                    @Html.TextBoxFor(model => model.ColorHex, new { @class = "form-control color-picker" })
                    @Html.ValidationMessageFor(model => model.ColorHex, "", new { @class = "help-block" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.OrderDisplay, new { @class = "control-label col-md-3" })
                <div class="col-md-5">
                    @Html.TextBoxFor(model => model.OrderDisplay, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.OrderDisplay, "", new { @class = "help-block" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-3" })
                <div class="col-md-5">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 5 })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "help-block" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-3" })
                <div class="col-md-5">
                    <div class="radio-list">
                        <label class="radio-inline">
                            @Html.RadioButtonFor(x => x.Status, (int)Status.Enable, new { @checked = "checked" }) @UI.Active
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(x => x.Status, (int)Status.Disable) @UI.InActive
                        </label>
                    </div>
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
}
@section scripts{
<script src="@Url.FakePathAdmin("scripts/plugins/jquery-minicolors/jquery.minicolors.min.js")"></script>
<script src="@Url.FakePathAdmin("scripts/components-color-pickers.js")"></script>
}
@section style{
<link href="@Url.FakePathAdmin("content/plugins/jquery-minicolors/jquery.minicolors.css")" rel="stylesheet" />
}

