@using App.Domain.Common
@using Resources
@using App.Domain.Entities.Language
@using App.Utils.WebGrid
@model IEnumerable<App.Domain.Entities.Language.LocaleStringResource>
@{
    ViewBag.Title = UI.LanguageManagement;
    var grid = new WebGrid((IEnumerable<App.Domain.Entities.Language.LocaleStringResource>)ViewBag.Localization, rowsPerPage: 10);
}

<div class="navbar navbar-default" role="search">
    <ul class="nav navbar-nav navbar-form">
        <li>
            <a class="btn btn-default btn-sm" id="hypCreate"><i class="fa fa-plus"></i></a>
        </li>
    </ul>
    <div class="col-sm-5">
        <div class="form-body">
            <div class="form-group">
                <label class="control-label col-md-4" for="ParentId">Select language</label>
                <div class="col-md-6">

                    @Html.DropDownList("drpLanguage", new SelectList(ViewBag.AllLanguage, "Id", "LanguageName", @ViewBag.LanguageSelected != null ? @ViewBag.LanguageSelected : 1)
                   , new { @class = "form-control", @onChange = "drpLanguage_change();" })

                    <script>
                        function drpLanguage_change() {
                            window.location = '@Url.Action("Index", "LocaleResource")?languageId=' + $("#drpLanguage").val() + '&keywords=' + $('#txtSearch').val();
                        }
                    </script>

                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-5">
        <div class="form-body">
            <div class="form-group">

                <div class="col-md-11">
                    <div class="form-group">
                        <input id="txtSearch" type="text" name="search" class="form-control" value="@ViewBag.keywords" />
                    </div>
                </div>
                <div class="control-label col-md-1">
                    <button type="submit" value="Search" class="btn btn-success" onclick="drpLanguage_change();">Search</button>
                </div>

            </div>
        </div>
    </div>

</div>

@using (Html.BeginForm("Edit", "LocaleResource", FormMethod.Post, new { data_container = @ViewContext.RouteData.Values["controller"], @enctype = "multipart/form-data" }))
{
    @MvcHtmlString.Create(
                        grid.GetHtml(
                            htmlAttributes: new
                            {
                                id = "grid",
                                @class = "table table-bordered table-striped table-condensed"
                            },
                            emptyRowCellValue: "No Records Found",
                            headerStyle: "grid-header",

                            columns: grid.Columns(

                                grid.Column(null, null,
                                    format: @<text><input id="hddId" name="hddId" type="hidden" value="@item.Value.Id" />
                                    <input id="hddLanguageId" name="hddLanguageId" type="hidden" value="@item.Value.LanguageId" />
                                    <input id="hddIsFromPlugin" name="hddIsFromPlugin" type="hidden" value="@item.Value.IsFromPlugin" /></text>
                                    ),

                                grid.Column("ResourceName",
                                    format: item
                                    => Html.EditableTextBox((item.Value as LocaleStringResource).ResourceName
                                    , (item.Value as LocaleStringResource)
                                    , "ResourceName", (item.Value as LocaleStringResource).Id.ToString()))

                                , grid.Column("ResourceValue",
                                    format: item
                                    => Html.EditableTextBox((item.Value as LocaleStringResource).ResourceValue
                                    , (item.Value as LocaleStringResource)
                                    , "ResourceValue", (item.Value as LocaleStringResource).Id.ToString()))

                                , grid.Column("Options",
                                    format: item => Html.DisplayRecordOptions(), canSort: false, style: "colOption")

                                )
                            )
                            .ToString()
                            .Replace("{CheckBoxHeading}", "<div class='text-center'><input type='checkbox' id='allBox'/></div>")
                        )
}
@Html.Hidden("dir", grid.SortDirection)
@Html.Hidden("col", grid.SortColumn)
<script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
<script src="/signalr/hubs"></script>

<script>

    $(function () {
        try {
            var dir = $('#dir').val();
            var col = $('#col').val();
            var header = $("th a[href*=" + col + "]");
            if (dir == "Ascending") {
                header.text(header.text() + "  ▲")
            }
            if (dir == "Descending") {
                header.text(header.text() + "  ▼");
            }

        } catch (e) {

        }

        var webGridHubClient = $.connection.webGridHub;

        //webGridHubClient.client.recordSaved = function () {
        //    alert("Record Saved.");
        //};

        $(".edit-button").on("click", function () {
            var row = $(this).closest("tr");
            $(".record-toolbar li", row).toggleClass("hide");
            $("input, select, textarea", row).toggleClass("hide");
            $("td", row).each(function () {
                var cell = $(this, row);
                var cellValue = $(".cell-value", cell);
                if (cellValue.length > 0) {
                    $("input", cell).val(cellValue.text());
                }
            });
            $(".cell-value", row).toggleClass("hide");
        });

        $(".cancel-button").on("click", function () {
            var row = $(this).closest("tr");
            $(".record-toolbar li", row).toggleClass("hide");
            $(".cell-value", row).toggleClass("hide");
            $("input, select, textarea", row).toggleClass("hide");
        });

        $(".save-button").on("click", function () {
            var row = $(this).closest("tr");
            var record = getRecord(row);

            $.ajax({
                url: '/admin/localeresource/edit',
                data: JSON.stringify(record),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    tr.find('.edit-mode, .display-mode').toggle();
                    alert('Record updated Successfully!!');
                }
            });

            //webGridHubClient.server.saveRecord(record);
            $("td", row).each(function () {
                var cell = $(this, row);
                var inputValue = $("input", cell);
                $(".cell-value", cell).text(inputValue.val());
            });
            $(".record-toolbar li", row).toggleClass("hide");
            $("input, select, textarea", row).toggleClass("hide");
            $(".cell-value", row).toggleClass("hide");
        });

        //isCreate: nếu isCreate ==1: set id = '' để insert
        function getRecord(row) {
            return {
                id: row.find("#hddId").val(),
                resourceName: row.find(':nth-child(2)').find("input").val(),
                resourceValue: row.find(':nth-child(3)').find("input").val(),
                languageId: row.find('#hddLanguageId').val(),
                isFromPlugin: row.find('#hddIsFromPlugin').val(),
            };
        };

        $.connection.hub.start();

    })

    $("#hypCreate").on("click", function () {
        var grd = document.getElementById('grid');

        var tbod = grd.rows[0].parentNode;
        var newRow = grd.rows[grd.rows.length - 1].cloneNode(true);

        //var id = $(newRow).find(':nth-child(1)').find("input:hidden").val();
        var toolbar = $(newRow).find(':nth-child(1)').find(".record-toolbar").attr("value", "-1");

        // tbod.appendChild(newRow);
        // return false;

        //cell.appendChild(element);
        var data = {
            "languageId": @ViewBag.LanguageSelected
            };

        $.ajax({
            url: '@Url.Action("NewRow", "LocaleResource")',
            data: data,
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                $("#grid tbody:last").append(response.data);
            }
        });
    })

    $(".remove-button").on("click", function () {
        var row = $(this).closest("tr");
        var id = row.find("#hddId").val();

        var data = {
            "id": id
        };
        $.ajax({
            url: '@Url.Action("Delete", "LocaleResource")',
            data: data,
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                location.reload();
            }
        });
    });

</script>