@using App.Admin.Helpers
@using App.Domain.Common
@using Resources
@model IEnumerable<App.Domain.Entities.Other.LandingPage>
@{
    ViewBag.Title = FormUI.SlideShow;
    ViewBag.Toolbar = new[] { "Approved", "UnApproved", "Export", "Delete", "Divider", "Reset" };
}
<table id="@ViewContext.RouteData.Values["controller"]" class="app-grid table table-color table-bordered table-striped table-condensed flip-content">
    <thead class="flip-content">
        <tr>
            <th class="text-center"> @FormUI.FullName </th>
            <th class="text-center"> @FormUI.DateOfBith </th>
            <th class="text-center"> @FormUI.Email </th>
            <th class="text-center"> @FormUI.PhoneNumber </th>
            <th class="text-center"> @FormUI.ShopId </th>
            <th class="text-center"> @FormUI.Status </th>
            <th class="text-center">
                <input onclick="AppCore.handleCheckAll(this) " type="checkbox">
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.FullName</td>
                    <td>@item.DateOfBith</td>
                    <td>@item.Email</td>
                    <td>@item.PhoneNumber</td>
                    <td>
                        @item.ContactInformation.Title<br/>
                        <i>@item.ContactInformation.Address</i>
                    </td>
                    <td>@Common.GetStatusLanddingPage(item.Status)</td>
                <td class="text-center">
                    <input type="checkbox" value="@item.Id">
                </td>
            </tr>
            }
        }
        else
        {
            <tr class="odd">
                <td class="dataTables_empty text-center" colspan="6" valign="top">
                    @MessageUI.EmptyItem
                </td>
            </tr>
        }
    </tbody>
</table>
@{ Html.RenderPartial("_PageLinks"); }