<!---GetHomeNews--->
@using App.Domain.Entities.Data
@model IEnumerable<App.Domain.Entities.Data.News>

<div id="vnt-news-home">
    <div class="wrapper">
        <div class="container">
            <div class="portlet">
                <div class="portlet-header">
                    <h2 class="portlet-title">@T("ThongTinTruyenThong")</h2>
                </div>
                <div class="portlet-content lazyloading">
                    <div class="rowmn">

                        @foreach (var item in Model)
                        {
                            <div class="col-sm-3">
                                <div class="news">
                                    <div class="img"><a href="@Url.Action("NewsDetail", "News", new {seoUrl = item.SeoUrl, area = ""})"><img src="@Url.Content("~/" + item.ImageMediumSize)" alt='@item.Title' title='@item.Title' /></a></div>
                                    <div class="caption">
                                        <div class="date">@item.CreatedDate.ToString("dd/MM/yyyy")</div>
                                        <div class="tend"><a href="@Url.Action("NewsDetail", "News", new {seoUrl = item.SeoUrl, area = ""})">@item.Title</a> </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---/GetHomeNews--->