<!--NewsDetail---->
@using App.Domain.Entities.Data
@using App.Domain.Entities.Menu
@model App.Domain.Entities.Data.News

@if (Model != null)
{
    <div class="vnt-page-slide">
        @Html.Action("BannerTopOfNewsPage", "Banner", new { menuId = ViewBag.MenuId })
    </div>
    @Html.Partial("_BreadCrumb")
    <div class="wrapper">
        <div class="mod_content">

            @Html.Action("GetCategoryHome", "MenuNav", new { virtualId = Model.VirtualCategoryId, area = "" })

            <div id="vnt-main"  class="col-sm-9">

                <div class="box_mid">
                    <div class="mid_title">
                        <div class="titleL"><h1>@Model.Title</h1></div>
                        <div class="titleR"></div>
                        <div class="clear"></div>
                    </div>
                    <div class="mid-content">

                        <div class="news-content desc">
                            <div class="date-detail">@Model.CreatedDate.ToString("dd/MM/yyyy")</div>
                            <div align="justify">
                                <div class='imgDetail_left' style='width:356px;'>
                                <a href="@Url.Content("~/" + Model.ImageMediumSize)" class='thickbox' title='Zoom'>
                                    <img src="@Url.Content("~/" + Model.ImageMediumSize)" width=356 alt="@Model.Title" title="@Model.Title" /></a>
                               </div>                               
                                @Html.Raw(@Model.Description)
                            </div>

                        </div>

                    </div>
                </div>

            </div>

            <div class="clear"></div>

        </div>
    </div>


    <div class="clear"></div>

}
<link rel="stylesheet" href="assets/modules/news/css/news.css" type="text/css" />

<!--/NewsDetail---->
