<!--NewsDetail---->
@using App.Domain.Entities.Data
@using App.Domain.Entities.Menu
@model App.Domain.Entities.Data.News

@if (Model != null)
{
    <div class="vnt-page-slide">
        @Html.Action("BannerTopOfNewsPage", "Banner", new { menuId = ViewBag.MenuId })
    </div>
    @Html.Partial("_BreadCrumb")
    <div class="wrapper">
        <div class="mod_content">

            @Html.Action("GetCategoryHome", "MenuNav", new { virtualId = Model.VirtualCategoryId, area = "" })

            <div id="vnt-main">

                <div class="box_mid">
                    <div class="mid_title">
                        <div class="titleL"><h1>@Model.Title</h1></div>
                        <div class="titleR"></div>
                        <div class="clear"></div>
                    </div>
                    <div class="mid-content">

                        <div class="news-content desc">
                            <div class="date-detail">@Model.CreatedDate.ToString("dd/MM/yyyy")</div>
                            <div align="justify">
                                <div class='imgDetail_left' style='width:356px;'>
                                <a href="@Url.Content("~/" + Model.ImageMediumSize)" class='thickbox' title='Zoom'>
                                    <img src="@Url.Content("~/" + Model.ImageMediumSize)" width=356 alt="@Model.Title" title="@Model.Title" /></a><p class='fDespic'>Hành trình xuyên Việt của dầu ăn cao cấp Ranee</p></div><strong><p><span>Thông qua chương trình gameshow “Tôi yêu chợ Việt”, dầu ăn cao cấp Ranee đã có một cuộc hành trình xuyên Việt rất ý nghĩa. Đặc biệt là cơ hội tiếp cận với người tiêu dùng và điểm đến đầu tiên cho chương trình “Tôi yêu chợ Việt” là chợ Sao Mai Bình Khánh 5 (thuộc Khu đô thị cao cấp Sao Mai, phường Bình Khánh, TP Long Xuyên, tỉnh An Giang), đây được xem là một trong những ngôi chợ sầm uất nhất tỉnh. </span></p></strong><p><span>“Tôi yêu chợ Việt” là một chương trình gameshow thực tế nhằm tôn vinh vai trò chợ Việt. Ngoài ra, còn là sân chơi đầy ý nghĩa nhằm tạo mối gắn kết giữa tiểu thương và khách đi chợ để họ có dịp giao lưu, học hỏi, giải trí. Đây cũng là cơ duyên giúp nhãn hàng dầu ăn cao cấp Ranee (sản phẩm thuộc Tập đoàn Sao Mai) đến gần hơn với người tiêu dùng.</span></p>
                                @Html.Raw(@Model.Description)
                            </div>

                        </div>

                    </div>
                </div>

            </div>

            <div class="clear"></div>

        </div>
    </div>


    <div class="clear"></div>

}
<link rel="stylesheet" href="assets/modules/news/css/news.css" type="text/css" />

<!--/NewsDetail---->
