@using App.Framework.Ultis
@using Resources
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GoogleMap</title>
    <link href="@Url.FakePathAdmin("content/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.FakePathAdmin("content/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.FakePathAdmin("content/global/components.min.css")" rel="stylesheet" />
    <script src="@Url.FakePathAdmin("scripts/jquery.min.js")"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUF99eCNHYuRlE8D__MBqafBeiaVR8Mcw&sensor=false"> </script>
    <script src="@Url.FakePathAdmin("scripts/googlemap.js")"></script>

</head>
<body>
    <div class="container">
        <div id="map-canvas" style="height: 450px; width: 100%;"></div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-icon">
                    <i class="fa fa-map-marker"></i>
                    <input id="findAddress" class="form-control" type="text" name="findAddress" placeholder="Nhập tên địa điểm" />
                </div>
                <span class="input-group-btn">
                    <button id="btnSearchAddress" class="btn btn-success" type="button">
                        <i class="fa fa-search"></i>&nbsp;Tìm địa điểm
                    </button>
                </span>
            </div> 
        </div>
        <h3 class="form-section">Thông tin địa điểm</h3>
        <div class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="Lat">Lat</label>
                <div class="input-icon">
                    <i class="fa fa-map-marker"></i>
                    <input type="text" placeholder="Lat" id="Lat" name="Lat" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="Lag">Password</label>
                <div class="input-icon">
                    <i class="fa fa-map-marker"></i>
                    <input type="text" placeholder="Lag" id="Lag" name="Lag" class="form-control" /> 
                </div>
            </div>
            <input type="hidden" value="" id="GLat" />
            <input type="hidden" value="" id="GLag" />
            <input type="hidden" value="" id="GAddress" />
            <button class="btn green" type="button" onclick="LocationFinishedClose()"><i class="icon-ok"></i>&nbsp;Cập nhật bản đồ</button>
        </div>
    </div>
</body>
</html>
