@using App.Domain.Common
@using Resources
@using App.Domain.Entities.Language
@model IEnumerable<App.Domain.Entities.Data.News>
@{
    ViewBag.Title = FormUI.News;
    ViewBag.Toolbar = new[] { "Create", "Edit", "Delete", "Divider", "Reset" };
}
@if (ViewBag.AllLanguage != null)
{
    IEnumerable<Language> eLanguage = ViewBag.AllLanguage;
}
<table id="@ViewContext.RouteData.Values["controller"]" class="app-grid table table-color table-bordered table-striped table-condensed flip-content">
    <thead class="flip-content">
        <tr>
            <th class="text-center"> &nbsp;</th>
            <th class="text-center"> @FormUI.Title </th>
            <th class="text-center"> @FormUI.MenuLink </th>
            <th class="text-center"> @FormUI.Language</th>
            <th class="text-center"> @FormUI.OrderDisplay </th>
            <th class="text-center"> @FormUI.Status </th>
            <th class="text-center">
                <input onclick="AppCore.handleCheckAll(this) " type="checkbox">
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            IEnumerable<Language> eLanguage = null;
            if (ViewBag.AllLanguage != null)
            {
                eLanguage = ViewBag.AllLanguage;
            }
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img alt="@item.MetaTitle" src="@Url.Content("~/" + item.ImageSmallSize)" width="80px" />
                    </td>
                    <td>
                        <a class="highlight0" href="@Url.Action("Edit", new {id = item.Id, ReturnUrl = Request.Url.PathAndQuery})">@item.Title</a>
                    </td>
                    <td>@Html.Raw(item.MenuId > 0 ? item.MenuLink.MenuName : string.Empty)</td>
                    <td>@eLanguage.Where(x =>x.Id.ToString() == item.Language).First().LanguageName <td>
                    <td>@item.OrderDisplay</td>
                    <td>@Html.Raw(item.Status == (int)Status.Disable ? "<span class='label label-sm label-warning'>" + UI.InActive + "</span>" : "<span class='label label-sm label-success'>" + UI.Active + "</span>")</td>
                    <td class="text-center">
                        <input type="checkbox" value="@item.Id">
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="odd">
                <td class="dataTables_empty text-center" colspan="6" valign="top">
                    @MessageUI.EmptyItem
                </td>
            </tr>
        }
    </tbody>
</table>
@{ Html.RenderPartial("_PageLinks"); }