<!---GetInformationFooter--->
@model App.Domain.Entities.GlobalSetting.ContactInformation
@if (Model != null)
{
    <div id="vnt-foot" class="lazyloading">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <img src="/images/logo.bmp" alt="" />
                </div>
                <div class="col-sm-7">
                    <div class="copyright">
                        <div class="txt">
                            <div class="footer-address">
                                <strong>@T("DiaChi")</strong> : @T("DiaChi_ChiTiet") - MST: 1200653343
                            </div>
                            <div class="footer-address">
                                <strong>@T("DienThoai.Lable	")</strong> : 0673 680 660
                            </div>
                            <div class="text-center">
                                Copyright © 2016 <strong>@T("CongTy.Name")</strong>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-3 pull-right">
                    <div class="soc">
                        <ul class="list-inline text-right"><li><a target='_blank' href="http://" title="envelope"><i class="fa fa-envelope-square"></i></a></li><li><a target='_blank' href="http://" title="twitter"><i class="fa fa-twitter-square"></i></a></li><li><a target='_blank' href="http://facebook.com/" title="facebook"><i class="fa fa-facebook-square"></i></a></li><li><a target='_blank' href="http://google/" title="google"><i class="fa fa-google-plus-square"></i></a></li></ul>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <p>@Model.Title</p>
    <p>
        Điện thoại: @Model.Hotline
        @if (!string.IsNullOrEmpty(Model.MobilePhone))
        {
            @Html.Raw(" - " + Model.MobilePhone)
        }
        @if (!string.IsNullOrEmpty(Model.Fax))
        {
            @Html.Raw(" - Fax: " + Model.Fax)
        }
    </p>
    <p>Email : @Model.Email</p>
    <p>Địa chỉ: @Model.Address</p>

}
<!---/GetInformationFooter--->
