@using App.Domain.Common
@using App.Framework.Ultis
@using Resources
@model App.FakeEntity.Post.PostViewModel
@{
    ViewBag.Title = UI.CreateNew;
    ViewBag.Toolbar = new[] { "Save", "SaveNew", "Divider", "Back" };
}
@using (Html.BeginForm("Create", "Post", FormMethod.Post, new { data_container = ViewContext.RouteData.Values["controller"], enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    Html.RenderPartial("_CreateOrUpdate", Model);
}

@section scripts{
    <script src="@Url.FakePathAdmin("scripts/plugins/ckeditor/ckeditor.js")"></script>
    <script src="@Url.FakePathAdmin("scripts/plugins/ckeditor/config.js")"></script>
    <script src="@Url.FakePathAdmin("scripts/plugins/uploadfile/jquery.filer.min.js")"></script>
    <script src="@Url.FakePathAdmin("scripts/custom.uploadfile.normal.js")"></script>
    @*<script src="@Url.FakePathAdmin("scripts/plugins/daterangepicker/moment.min.js")"></script>*@
    @*<script src="@Url.FakePathAdmin("scripts/plugins/daterangepicker/daterangepicker.js")"></script>*@
    @*<script src="@Url.FakePathAdmin("scripts/plugins/daterangepicker/bootstrap-datepicker.js")"></script>*@
    @*<script src="@Url.FakePathAdmin("scripts/components-date-time-pickers.js")"></script>*@
    <script type="text/javascript">
        var handleCheckAttr = function (element) {
            if (typeof element != "object" || element.type != "checkbox") {
                return false;
            }
            if (element.checked) {
                var id = $(element).val();
                var moreproce = '<div class="col-md-12"><div class="form-group"><label class="control-label col-sm-3" style="text-align:left">Giá: </label><div class="col-md-3">' +
                    '<input type="number" class="form-control" name="' + id + '"  id="more_' + id + '"></div></div></div>';
                var btn = '<button type="button" attr-data="' + id + '" id="btn_upload" class="btn green">Thêm ảnh</button>';
                $("div#" + id).append(moreproce);
                $("div#" + id).append(btn);
            } else {
                var id = $(element).val();
                $("#" + id).empty();
                $("#fileupload_" + id).empty();
            }
            $.uniform.update();
        }
        $(function () {
          
            $(document).on("click", "#btn_upload", function () {

                var id = $(this).attr("attr-data");
                var file = '<input type="file" name="' + id + '" id="file_' + id + '" multiple="multiple">';
                $("div#fileupload_" + id).empty();
                $("div#fileupload_" + id).append(file);
                InitUploadFile("#file_" + id);
            });

        });

        //Copy value từ tên sản phẩm bỏ vào group SEO
        function CopyValue() {
            $("#Locales_0__Title").change(function () {
                var name = $("#Locales_0__Title").val();
                if (name != "") {
                    $("#Locales_0__MetaTitle").val(name);
                    $("#Locales_0__MetaKeywords").val(name);
                    $("#Locales_0__MetaDescription").val(name);

                    $("#Title").val(name);
                    $("#MetaTitle").val(name);
                    $("#MetaKeywords").val(name);
                    $("#MetaDescription").val(name);
                }
            });
        }

        $(function () {
            CopyValue();
        });

    </script>
}

@section style{
    <link href="@Url.FakePathAdmin("content/plugins/uploafile/jquery.filer.css")" rel="stylesheet" />
    @*<link href="@Url.FakePathAdmin("content/plugins/uploafile/themes/jquery.filer-dragdropbox.css")" rel="stylesheet" />*@
    @*<link href="@Url.FakePathAdmin("content/plugins/daterangepicker/daterangepicker-bs3.css")" rel="stylesheet" />*@
    <style>
        .img-upload button {
            margin-bottom: 15px;
        }
    </style>
}
