@using App.Domain.Common
@using Resources
@model IEnumerable<App.Domain.Entities.Data.Assessment>
@{
    ViewBag.Title = FormUI.Assessment;
    ViewBag.Toolbar = new[] { "Create", "Edit", "Delete", "Divider", "Reset" };
}
<table id="@ViewContext.RouteData.Values["controller"]" class="app-grid table table-color table-bordered table-striped table-condensed flip-content">
    <thead class="flip-content">
        <tr>
            <th class="text-center"> &nbsp;</th>
            <th class="text-center"> @FormUI.FullName </th>
            <th class="text-center"> @FormUI.OrderDisplay </th>
            <th class="text-center"> @FormUI.Status </th>
            <th class="text-center">
                <input onclick="AppCore.handleCheckAll(this) " type="checkbox">
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img alt="@item.FullName" src="@Url.Content("~/" + item.ImageUrl)" width="80px" />
                    </td>
                    <td>
                        <a class="highlight0" href="@Url.Action("Edit", new {id = item.Id, ReturnUrl = Request.Url.PathAndQuery})">@item.FullName</a>
                    </td>
                    <td>@item.OrderDisplay</td>
                    <td>@Html.Raw(item.Status == (int)Status.Disable ? "<span class='label label-sm label-warning'>" + UI.InActive + "</span>" : "<span class='label label-sm label-success'>" + UI.Active + "</span>")</td>
                    <td class="text-center">
                        <input type="checkbox" value="@item.Id">
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="odd">
                <td class="dataTables_empty text-center" colspan="6" valign="top">
                    @MessageUI.EmptyItem
                </td>
            </tr>
        }
    </tbody>
</table>
@{ Html.RenderPartial("_PageLinks"); }