<!---GetNewProductRelative2--->
@using App.Utils
@model IEnumerable<App.Domain.Entities.Data.Post>
@if (Model.IsAny())
{
    <div class="product-other">
        <div class="pro-title">@T("ProductReleate.Lable")</div>
        <div id="vnt-product-other">
            @foreach (var item in Model)
            {
                <div class="item">
                    <div class="img">
                        <a href="@Url.Action("PostDetail", "Post", new {seoUrl = item.SeoUrl, area = ""})" title='@item.Title'>
                            <img src="@Url.Content("~/" + item.ImageMediumSize)" alt='@item.Title' title='@item.Title' />
                        </a>
                    </div>
                    <div class="caption">
                        <div class="tend">
                            <a href="@Url.Action("PostDetail", "Post", new {seoUrl = item.SeoUrl, area = ""})" title='@item.Title'>@item.Title</a>
                        </div>
                    </div>
                </div>
            }          

        </div>
    </div>
}
<!---/GetNewProductRelative2--->