<!---GetPostByCategory-->
@using App.Domain.Common
@using App.Domain.Entities.Data
@using App.Utils
@model IEnumerable<App.Domain.Entities.Data.Post>

<div class="vnt-page-slide">
    @Html.Action("BannerTop", "Banner", new { menuId = ViewBag.MenuId })
    @Html.Partial("_BreadCrumb")
</div>
<div class="container">
    @if (Model.IsAny())
    {
        int i = 0;
        int j = 0;
        var listHot = (List<Post>)ViewBag.HotCard;

        <div class="box_mid">
            <div class="mid_title">
                <div class="titleL"><h1>@ViewBag.Title</h1></div>
                <div class="titleR"></div>
                <div class="clear"></div>
            </div>

            <div class="mid-content">
                @foreach (var item in Model)
                {
                    string rightOrLeft = i % 2 == 0 ? "right" : "left";
                    <div class="category col-xs-12 @rightOrLeft">
                        <div class="img">
                            <a href="@Url.Action("PostDetail","Post", new {seoUrl =item.SeoUrl,area=""})" title="@item.Title">
                                <img src="@Url.Content("~/" + item.ImageBigSize)" alt="@item.Title" title="@item.Title">
                            </a>
                        </div>
                        <div class="caption">
                            <div class="tend"><h3><a href="@Url.Action("PostDetail","Post", new {seoUrl =item.SeoUrl,area=""})" title="@item.Title">@item.Title</a></h3></div>
                            <div class="tomtat">@Html.Raw(item.ShortDesc)</div>
                        </div>
                    </div>
                    i++;
                }
            </div>

        </div>

    }
    @{Html.RenderPartial("_PagedLinks");}
</div>


<link rel="stylesheet" href="assets/modules/product/css/category.css" type="text/css" />


<!---/GetPostByCategory-->