@using App.Utils
@model IEnumerable<App.Domain.Entities.Data.Post>
@if (Model.IsAny())
{
    <div class="relative-product">
        <h4>Sản phẩm khác</h4>
        <div class="relative-list">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-sm-3">
                        <div class="thumbnail">
                            <a href="@Url.Action("PostDetail", "Post", new {seoUrl = item.SeoUrl, area = ""})">
                                <img src="@Url.Content("~/" + item.ImageMediumSize)" alt="@item.Title" />
                            </a>
                            <div class="caption">
                                <h3>
                                    <a href="@Url.Action("PostDetail", "Post", new {seoUrl = item.SeoUrl, area = ""})">
                                        @item.Title
                                    </a>
                                </h3>
                                @if (item.Discount > 0)
                                {
                                    <strong class="price">@($"{item.Price - item.Price * item.Discount / 100:##,### VND}")</strong>
                                }
                                else
                                {
                                    <strong class="price">@($"{item.Price:##,### VND}")</strong>
                                }

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
     

}
