<!---GetPostByCategory-->
@using App.Domain.Common
@using App.Domain.Entities.Data
@using App.Utils
@model IEnumerable<App.Domain.Entities.Data.Post>

<div class="vnt-page-slide">
    <div id="vnt-page-slide" class="slick-initialized slick-slider">
        <div aria-live="polite" class="slick-list draggable"><div class="slick-track" role="listbox" style="opacity: 1; width: 1349px; transform: translate3d(0px, 0px, 0px);"><div class="item slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 1349px;"><div class="img"><a href="http://" target="_blank" tabindex="0"><img src="/vnt_upload/weblink/banner_1.jpg"></a></div></div></div></div>
    </div>

    <div id="vnt-navation" class="breadcrumb" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
        <div class="wrapper">
            <div class="navation">
                <ul class="list-inline text-left">
                    <li><a href="/vn/trang-chu.html">Trang chủ</a></li>
                    <li><a href="/vn/san-pham.html">Sản phẩm</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    @if (Model.IsAny())
    {
        int i = 0;
        int j = 0;
        var listHot = (List<Post>)ViewBag.HotCard;

        <div class="box_mid">
            <div class="mid_title">
                <div class="titleL"><h1>@ViewBag.Title</h1></div>
                <div class="titleR"></div>
                <div class="clear"></div>
            </div>

            <div class="mid-content">
                @foreach (var item in Model)
                {
                    string rightOrLeft = i % 2 == 0 ? "right" : "left";
                    <div class="category @rightOrLeft">
                        <div class="img">
                            <a href="@Url.Action("PostDetail","Post", new {seoUrl =item.SeoUrl,area=""})" title="@item.Title">
                                <img src="@Url.Content("~/" + item.ImageBigSize)" alt="@item.Title" title="@item.Title">
                            </a>
                        </div>
                        <div class="caption">
                            <div class="tend"><h3><a href="@Url.Action("PostDetail","Post", new {seoUrl =item.SeoUrl,area=""})" title="@item.Title">@item.Title</a></h3></div>
                            <div class="tomtat">@Html.Raw(item.ShortDesc)</div>
                        </div>
                    </div>
                    i++;
                }
            </div>

        </div>

    }
    @{Html.RenderPartial("_PagedLinks");}
</div>


<link rel="stylesheet" href="assets/modules/product/css/category.css" type="text/css" />


<!---/GetPostByCategory-->