@using App.Domain.Common
@using App.Utils
@model App.Domain.Entities.Data.Post
@if (Model != null)
{
    <div class="vnt-page-slide">
        <div id="vnt-page-slide">
            <div class="item"><div class="img"><a href="http://" target="_blank"><img src="../vnt_upload/weblink/banner_1.jpg" /></a></div></div>
        </div>

        <div id="vnt-navation" class="breadcrumb" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <div class="wrapper">
                <div class="navation">
                    <ul class="list-inline text-left">
                        <li><a href="trang-chu.html">Trang chủ</a></li>
                        <li><a href='san-pham.html'>Sản phẩm</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div id="vnt-product">
        <div class="wrapper">

            <div class="box_mid">

                <div class="mid-content">

                    <div class="rowmn">
                        <div class="col6">
                            <div class="gallery-image">
                                <div id="gallery" class="royalSlider rsDefault">
                                    @if (Model.GalleryImages.IsAny())
                                    {
                                        var attrid = Model.AttributeValues.FirstOrDefault();
                                        var gallery = Model.GalleryImages.Where(x => x.AttributeValueId == attrid.Id);
                                        foreach (var item in gallery)
                                        {
                                            <a class="rsImg" data-rsBigImg="@Url.Content("~/" + item.ImagePath)" href="@Url.Content("~/" + item.ImagePath)">
                                                <img class="rsTmb" src="@Url.Content("~/" + item.ImageThumbnail)" />
                                            </a>
                                        }
                                    }
                                    else
                                    {
                                        <a class="rsImg" data-rsBigImg="@Url.Content("~/" + Model.ImageBigSize)" href="@Url.Content("~/" + Model.ImageBigSize)">
                                            <img width="195" height="350" class="rsTmb" src="@Url.Content("~/" + Model.ImageSmallSize)" />
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="col6">
                            <div class="product-info">
                                <div class="product-title"><h1>@Model.Title</h1></div>
                                <div class="product-excerpt">
                                    @Html.Raw(Model.ShortDesc)
                                    @if (!string.IsNullOrEmpty(Model.TechInfo))
                                    {
                                        @Html.Raw(Model.TechInfo)
                                    }
                                </div>
                                <a href="lien-he.html" class="product-to-cart"><span>liên hệ đặt hàng</span></a>
                                <div class="product-share">
                                    <table border="0" cellspacing="2" cellpadding="2" align="center"><tr><td><a title="Chia sẻ qua Facebook." href="https://www.facebook.com/sharer.php?u=http://trisedco.com/vn/da-ca.html" rel="nofollow" style="margin-right:20px" target="_blank"><img src="../skins/default/images/icon_facebook_share.gif" /></a></td><td><a title="Chia sẻ qua Google Plus." href="https://plus.google.com/share?url=http://trisedco.com/vn/da-ca.html" rel="nofollow" style="margin-right:20px" target="_blank"><img src="../skins/default/images/icon_google_share.gif" /></a></td><td><iframe src="http://www.facebook.com/plugins/like.php?href=http://trisedco.com/vn/da-ca.html&amp;layout=button_count&amp;show_faces=true&amp;width=90&amp;action=like&amp;colorscheme=light&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:20px;" allowTransparency="true"></iframe></td><td><g:plusone href="da-ca.html" size="medium"></g:plusone></td></tr></table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="rowmn">
                        <div class="col12">
                            <div class="product-detail">
                                <div class="pro-title">mô tả</div>
                                @Html.Raw(Model.Description)
                                <div class="pro-content desc">
                                    <p><span style="color:#FF0000;"><strong><span style="font-size:22px;">Liên hệ</span></strong></span></p>

                                    <p><span style="color:#008000;"><strong><span style="font-size:16px;">Để biết thêm thông tin về sản phẩm, vui lòng liên hệ với chúng tôi:</span></strong></span></p>

                                    <p>
                                        <strong>Mr.Lê Xuân Quế ( Tổng Giám Đốc )</strong><br />
                                        Điện thoại: +84 (0) 913971343<br />
                                        Email: xuanqueasm@gmail.com
                                    </p>

                                    <p>
                                        <strong>Mr. Trần Bá Sơn ( Phó Tổng Giám Đốc )</strong><br />
                                        Điện thoại: +84 (0) 908476786<br />
                                        Email: sontrisedco@gmail.com
                                    </p>

                                    <p>
                                        <strong>Mr. Lý Ngọc Anh ( Giám Đốc Kinh Doanh )</strong><br />
                                        Điện thoại: +84 (0) 944375767<br />
                                        Email: anhquocviet07@gmail.com&nbsp;
                                    </p>
                                </div>
                            </div>
                            @Html.Action("GetNewProductRelative2", "Post", new { area = "", virtualId = Model.MenuLink.VirtualId, productId = Model.Id })


                            
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>



    <div class="clear"></div>

}

@section stylesheets
{
    <link href="~/css/royalslider/royalslider.min.css" rel="stylesheet" />
    <link href="~/css/royalslider/rs-default.css" rel="stylesheet" />
}

@section jquerys{
    <script src="~/js/royalslider/jquery.royalslider.min.js"></script>
    <script type="text/javascript">
        function initGallery() {
            $('#gallery')
                .royalSlider({
                    fullscreen: {
                        enabled: true,
                        nativeFS: true
                    },
                    controlNavigation: 'thumbnails',
                    loop: false,
                    imageScaleMode: 'fit',
                    autoScaleSliderHeight: 450,
                    autoScaleSliderWidth: 490,
                    slidesSpacing: 5,
                    autoHeight: false,
                    autoScaleSlider: false,
                    imageAlignCenter: true,
                    numImagesToPreload: 2,
                    arrowsNav: true,
                    arrowsNavAutoHide: true,
                    arrowsNavHideOnTouch: true,
                    keyboardNavEnabled: true,
                    fadeinLoadedSlide: true,
                    globalCaption: false,
                    globalCaptionInside: false,
                    thumbs: {
                        //orientation: 'vertical',
                        appendSpan: true,
                        firstMargin: false,
                        paddingTop: 15,
                        spacing: 15,
                        autoCenter: false
                    }
                });
            $('.rsContainer').on('touchmove touchend', function () { });
        }
        $(function () {
            initGallery();
            var slider = $('#gallery').data('royalSlider');
            slider.ev.on('rsSlideClick', function () {
                if (slider.isFullscreen) {
                    slider.next();
                } else {
                    slider.enterFullscreen();
                }
            });
        });
    </script>
}

<link rel="stylesheet" href="assets/modules/product/css/product.css" type="text/css" />
<script src="assets/modules/product/js/product.js" ></script>

<!---/PostDetail---->