@using App.Utils
@model IEnumerable<App.Domain.Entities.GlobalSetting.ContactInformation> 
@if (ViewBag.Data != null)
{
    <script type="text/javascript">
        $(function() {
            initMap('10.82309890000002', '106.63000712275391', @Html.Raw(ViewBag.Data), "map_canvas");
        })
    </script> 
}
<script type="text/javascript">
    $(function() {
        $(".view-map > a").on("click", function () {
            var Id = $(this).attr("data-id");
            window.open("/ban-do/"+Id+".html", "_blank", "toolbar=yes,scrollbars=yes, resizable=yes, top=100, left=100, width=1000, height=600");
        });  
    })
</script>
<section class="store-block">
    <h2>Lựa chọn cửa hàng</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="select-list">
                    <h3>
                        Chọn tỉnh thành
                    </h3>
                    @Html.DropDownList("ProvinceId", new SelectList(ViewBag.Provinces ?? string.Empty, "Id", "Name"), new { @class = "form-control" })
                    @*<select class="form-control">
                            <option>
                                Tp.Hồ chí minh
                            </option>
                        </select>*@
                </div>
                <div id="map_canvas" class="map_canvas"></div>
            </div>
            <div class="col-sm-7">
                <div class="list-address">
                    <ul class="list-unstyled">
                        @if (Model.IsAny())
                        {
                            foreach (var item in Model)
                            {
                                <li>
                                    <div class="address-item">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <div class="content-add">
                                                    <p class="title">
                                                        @if (!string.IsNullOrEmpty(item.NumberOfStore))
                                                        {
                                                            @Html.Raw(item.NumberOfStore + " - ")
                                                        }
                                                        @item.Title
                                                    </p>
                                                    <p>Địa chỉ: @item.Address</p>
                                                    <p>Điện thoại: @item.MobilePhone</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="view-map">
                                                    <a id="mapmarker" href="javascript:void(0)" data-id="@item.Id" rel="nofollow">
                                                        <i class="fa fa-map-marker"></i>
                                                        <p>Xem bản đồ</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
